/* Background */
[data-testid="stAppViewContainer"] {
    background-color: #e5e5f7;
    background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #e5e5f7 14px), repeating-linear-gradient(#45a3f755, #45a3f7);
}

/* H1 Styling and Animation */
h1 {
    color: #2c618f;
    text-align: center;
    font-size: 2.5em;
    opacity: 0;
    animation: fadeInH1 3s ease-in forwards;
    margin-top: 200px;  /* Adjust space from top */
}

/* Button Styling */
div.stButton > button {
    display: block;
    margin: 30px auto;  /* Centers the button */
    width: 200px;  /* Adjust width */
    margin-top: 10px;  /* Adds space between the button and the heading */
    opacity: 0;  /* Initially set the button to be invisible */
    animation: fadeInButton 3s ease-in forwards; /* Fade-in animation for the button */
}

/* Keyframes for Fade-In */
@keyframes fadeInH1 {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes fadeInButton {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}
